<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/estilos.css">
    <title>Eliminar Usuario</title>
</head>
<body>
    <h1 class="text-center title">¿Deseas eliminar el usuario <%= usuario %></h1>

    <form action="/users/eliminar-usuario/<%=usuario %>?_method=DELETE" method="post">
        <input type="submit" value="Si">
    </form>

    <form action="/" method="get">
        <input type="submit" value="No">
    </form>
</body>
</html>