<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/estilos.css">
    <title>Inicio</title>
</head>

<body>
    <h1 class="text-center title">Hola!!! Bienvenid@ a <span class="world-music">WorldMusic</span></h1>

    <header>
        <!--Banner-->
        <!-- <img src="./img/foto.jpg" alt=""> -->
        <nav class="navegacion">
            <ul class="elementos-navegacion">
                <li><a href="/" class="contenido-elemento text-center">Inicio</a></li>
                <li><a href="/artistas" class="contenido-elemento text-center">Artistas</a></li>
                <li><a href="/users/iniciar-sesion" class="contenido-elemento text-center">Iniciar Sesion</a></li>
                <li><a href="/users/registro" class="contenido-elemento text-center">Registro</a></li>
            </ul>
        </nav>
    </header>

    <section>
        <input type="text" name="search-bar" class="search-bar" placeholder="Buscar en WorldMusic...">
    </section>

    <h2 class="text-center">Videos mas vistos por el usuario</h2>

    <section class="videos-usuario">
        <!--Videos que mas le gustan al usuario-->
        <!-- <video src="./video/video1.mp4" controls></video> -->
        <div class="apartado-canciones">
            <article>
                <img src="./img/tu-falta-de-querer.jpg" alt="" class="music-image">
                <div class="details text-center">
                    <p>Tu Falta de Querer</p>
                    <a href="/mon-laferte" class="acerca-cancion">Ver Más</a>
                </div>
            </article>
    
            <article>
                <img src="./img/hasta-la-raiz.jpeg" alt="" class="music-image">
                <div class="details text-center">
                    <p>Hasta la Raiz</p>
                    <a href="/natalia-lafourcade" class="acerca-cancion">Ver Más</a>
                </div>
            </article>
    
            <article>
                <img src="./img/te-regalo.jpg" alt="" class="music-image">
                <div class="details text-center">
                    <p>Te Regalo</p>
                    <a href="/carla-morrinson" class="acerca-cancion">Ver Más</a>
                </div>
            </article>
        </div>

        <div class="apartado-opciones">
            <h2 class="text-center">Ordenar Por</h2>
            <select name="options" class="options">
                <option value="" class="value-option">Artista</option>
                <option value="" class="value-option">Nombre de Canción</option>
                <option value="" class="value-option">Más Visto</option>
                <option value="" class="value-option">Menos Visto</option>
                <option value="" class="value-option">Fecha de Publicación</option>
                <option value="" class="value-option">Más Antiguo</option>
                <option value="" class="value-option">Más Actual</option>
            </select>
        </div>
    </section>

    <h2 class="text-center">Videos recomendados</h2>

    <section class="videos-usuario">
        <!--Videos que se recomiendan en la plataforma-->
        <!-- <video src="./video/video1.mp4" controls class=""></video> -->
        <div class="apartado-canciones">
            <article>
                <img src="./img/tu-falta-de-querer.jpg" alt="" class="music-image">
                <div class="details text-center">
                    <p>Tu Falta de Querer</p>
                    <a href="" class="acerca-cancion">Ver Más</a>
                </div>
            </article>
    
            <article>
                <img src="./img/hasta-la-raiz.jpeg" alt="" class="music-image">
                <div class="details text-center">
                    <p>Hasta la Raiz</p>
                    <a href="" class="acerca-cancion">Ver Más</a>
                </div>
            </article>
    
            <article>
                <img src="./img/te-regalo.jpg" alt="" class="music-image">
                <div class="details text-center">
                    <p>Te Regalo</p>
                    <a href="" class="acerca-cancion">Ver Más</a>
                </div>
            </article>
        </div>

        <div class="apartado-opciones">
            <h2 class="text-center">Ordenar Por</h2>
            <select name="options" class="options">
                <option value="" class="value-option">Artista</option>
                <option value="" class="value-option">Nombre de Canción</option>
                <option value="" class="value-option">Más Visto</option>
                <option value="" class="value-option">Menos Visto</option>
                <option value="" class="value-option">Fecha de Publicación</option>
                <option value="" class="value-option">Más Antiguo</option>
                <option value="" class="value-option">Más Actual</option>
            </select>
        </div>
    </section>

    <footer class="text-center footer-page">
        &copy; Derechos reservados. WorldMusic - German Arciniegas 2022-2022 :)
    </footer>
</body>

</html>