<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/estilos.css">
    <title>Cancion: Te Regalo</title>
</head>

<body>

    <h1 class="text-center title">Hola!!! Bienvenid@ a <span class="world-music">WorldMusic</span></h1>

    <header>
        <!--Banner-->
        <!-- <img src="./img/foto.jpg" alt=""> -->
        <nav class="navegacion">
            <ul class="elementos-navegacion">
                <li><a href="/" class="contenido-elemento text-center">Inicio</a></li>
                <li><a href="/artistas" class="contenido-elemento text-center">Artistas</a></li>
                <li><a href="/iniciar-sesion" class="contenido-elemento text-center">Iniciar Sesion</a></li>
                <li><a href="/registro-usuarios" class="contenido-elemento text-center">Registro</a></li>
            </ul>
        </nav>
    </header>
    <h1 class="text-center title">Te Regalo - Autor(a): Carla Morrinson</h1>
    <section class="video-imagen">
        <!-- <img src="./img/tu-falta-de-querer2.png" alt="" class="img-video"> -->
        <video src="./video/video3.mp4" controls class="video-musica" autoplay></video>
        <!-- <img src="./img/tu-falta-de-querer3.jpg" alt="" class="img-video"> -->
    </section>

    <h2 class="text-center">Descripcion de Te Regalo</h2>
    <section>
        <p class="descripcion-cancion">
            De acuerdo con la cantante, 'Dime mentiras' está inspirada en situaciones que pasaron el año pasado y que le
            impactaron, primero con el fallecimiento de un amigo que padecía cáncer, posteriormente la muerte del actor
            Renato López y luego el accidente aéreo que sufrió un equipo de futbol brasileño.

            "Lo primero que pensé fue en las chicas, cuando tienes una pareja es tu equipo, es quien te ayuda a sostener
            tu relación, y yo poniéndome en su lugar pensé en que no sé qué haría, me conmovió mucho esta situación, es
            como un tipo de tributo por si en algún punto ellas llegan a escucharla, que sea de alguna manera de poder
            sanar, de sacar lo que no puedes porque te bloqueas y no quieres entenderlo.

            "Las mujeres somos muy sensibles, damos vida y cuando la perdemos es doloroso, fue para mí como una especie
            de regalo porque probablemente nunca la escuchen, para mí es una canción para que toda aquella persona saque
            lo que no puede decir, hay gente que se queda en el hoyo por años; la muerte es parte de la vida pero no le
            cantamos y quería hacer un tema que hablara de eso", expresó la cantante en entrevista.


        </p>
    </section>

    <section class="downloads text-center">
        <p>
            <a download="te-regalo.mp4" href="./video/video3.mp4" class="download">Descargar video</a>
        </p>
        <p>ó</p>
        <p>
            <a download="te-regalo.mp3" href="./video/video3.mp4" class="download">Descargar audio</a>
        </p>
    </section>

    <h2 class="text-center">Más Temas Relacionados con Carla Morrinson</h2>
    <section class="videos-usuario">
        <article>
            <img src="./img/disfruto.jpg" alt="" class="img-music-recomended">
            <div class="details text-center">
                <p>Disfruto</p>
                <a href="/carla-morrinson" class="acerca-cancion">Ver Más</a>
            </div>
        </article>

        <article>
            <img src="./img/devuelvete.jpg" alt="" class="img-music-recomended">
            <div class="details text-center">
                <p>Devuélvete</p>
                <a href="/carla-morrinson" class="acerca-cancion">Ver Más</a>
            </div>
        </article>

        <article>
            <img src="./img/todo-pasa.jpg" alt="" class="img-music-recomended">
            <div class="details text-center">
                <p>Todo Pasa</p>
                <a href="/carla-morrinson" class="acerca-cancion">Ver Más</a>
            </div>
        </article>

        <article>
            <img src="./img/dejenme-llorar.jpg" alt="" class="img-music-recomended">
            <div class="details text-center">
                <p>Déjenme LLorar</p>
                <a href="/carla-morrinson" class="acerca-cancion">Ver Más</a>
            </div>
        </article>
    </section>

    <footer class="text-center footer-page">
        &copy; Derechos reservados. WorldMusic - German Arciniegas 2022-2022 :)
    </footer>
</body>

</html>