<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/estilos.css">
    <title>Cancion: Tu Falta de Querer</title>
</head>

<body>

    <h1 class="text-center title">Hola!!! Bienvenid@ a <span class="world-music">WorldMusic</span></h1>

    <header>
        <!--Banner-->
        <!-- <img src="./img/foto.jpg" alt=""> -->
        <nav class="navegacion">
            <ul class="elementos-navegacion">
                <li><a href="/" class="contenido-elemento text-center">Inicio</a></li>
                <li><a href="/artistas" class="contenido-elemento text-center">Artistas</a></li>
                <li><a href="/iniciar-sesion" class="contenido-elemento text-center">Iniciar Sesion</a></li>
                <li><a href="/registro-usuarios" class="contenido-elemento text-center">Registro</a></li>
            </ul>
        </nav>
    </header>

    <section>
        <input type="text" name="search-bar" class="search-bar" placeholder="Buscar en WorldMusic...">
    </section>

    <h1 class="text-center title">Tu Falta de Querer - Autor(a): Mon Laferte</h1>
    <section class="video-imagen">
        <!-- <img src="./img/tu-falta-de-querer2.png" alt="" class="img-video"> -->
        <video src="../../video/video1.mp4" controls class="video-musica" autoplay></video>
        <!-- <img src="./img/tu-falta-de-querer3.jpg" alt="" class="img-video"> -->
    </section>

    <h2 class="text-center">Descripcion de Tu Falta de Querer</h2>
    <section>
        <p class="descripcion-cancion">
            Este himno de despecho esconde una triste historia de infidelidad que llevó a la cantante a la depresión y a
            escribir su canción más famosa. Desde su lanzamiento, "Tu falta de querer" Mon Laferte se convirtió en todo
            un himno de dolor, despecho e incluso empoderamiento femenino.
            En una de sus tantas presentaciones, Mon Laferte inicia su concierto asegurando que “Tu falta de querer”
            narra un pasaje de su vida sobre una decepción que casi la lleva a cometer suicidio.

            “Tengo una canción súper triste... que me pusieron el cuerno. Sí, es verdad, esto es en serio. Me pusieron
            el cuerno hace como un año. Me dio depresión y me quise suicidar”, se le escucha decir.

            Al notar que el público comenzó a reírse, Mon Laferte pidió que no lo hagan ya que se considera una
            superviviente. “Como se ríen, pero si esto es verdad. ¿Por qué se burlan de mi desgracia?”, dijo.

            Asimismo, la chilena confesó en una entrevista que “Tu falta de querer” la escribió para no volver a
            sentirse triste: “En este momento ‘depre’ que tenía, de repente tuve como una luz y le digo a mis amigas
            ‘Ahora voy a hacer una canción súper buena y que me va a ayudar a que se me quite toda esta tristeza’... me
            fui a la pieza (apartamento) y grabé en el teléfono la melodía”, contó para el medio City Lab.
        </p>
    </section>

    <section class="downloads text-center">
        <p>
            <a download="tu-falta-de-querer.mp4" href="../../video/video1.mp4" class="download">Descargar video</a>
        </p>
        <p>ó</p>
        <p>
            <a download="tu-falta-de-querer.mp3" href="../../video/video1.mp4" class="download">Descargar audio</a>
        </p>
    </section>

    <h2 class="text-center">Más Temas Relacionados con Mon Laferte</h2>
    <section class="videos-usuario">
        <article>
            <img src="../../img/pa-donde-se-fue.jpg" alt="" class="img-music-recomended">
            <div class="details text-center">
                <p>Pa' Donde se Fue</p>
                <a href="/mon-laferte" class="acerca-cancion">Ver Más</a>
            </div>
        </article>

        <article>
            <img src="../../img/mi-buen-amor.jpg" alt="" class="img-music-recomended">
            <div class="details text-center">
                <p>Mi Buen Amor</p>
                <a href="/mon-laferte" class="acerca-cancion">Ver Más</a>
            </div>
        </article>

        <article>
            <img src="../../img/amarrame.jpg" alt="" class="img-music-recomended">
            <div class="details text-center">
                <p>Amárrame</p>
                <a href="/mon-laferte" class="acerca-cancion">Ver Más</a>
            </div>
        </article>

        <article>
            <img src="../../img/antes-de-ti.jpg" alt="" class="img-music-recomended">
            <div class="details text-center">
                <p>Antes de Ti</p>
                <a href="/mon-laferte" class="acerca-cancion">Ver Más</a>
            </div>
        </article>
    </section>

    <footer class="text-center footer-page">
        &copy; Derechos reservados. WorldMusic - German Arciniegas 2022-2022 :)
    </footer>
</body>

</html>