<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/estilos.css">
    <title>Cancion: Hasta la Raiz</title>
</head>

<body>

    <h1 class="text-center title">Hola!!! Bienvenid@ a <span class="world-music">WorldMusic</span></h1>

    <header>
        <!--Banner-->
        <!-- <img src="./img/foto.jpg" alt=""> -->
        <nav class="navegacion">
            <ul class="elementos-navegacion">
                <li><a href="/" class="contenido-elemento text-center">Inicio</a></li>
                <li><a href="/artistas" class="contenido-elemento text-center">Artistas</a></li>
                <li><a href="/iniciar-sesion" class="contenido-elemento text-center">Iniciar Sesion</a></li>
                <li><a href="/registro-usuarios" class="contenido-elemento text-center">Registro</a></li>
            </ul>
        </nav>
    </header>

    <section>
        <input type="text" name="search-bar" class="search-bar" placeholder="Buscar en WorldMusic...">
    </section>

    <h1 class="text-center title">Hasta la Raiz - Autor(a): Natalia Lafourcade</h1>
    <section class="video-imagen">
        <!-- <img src="./img/tu-falta-de-querer2.png" alt="" class="img-video"> -->
        <video src="./video/video2.mp4" controls class="video-musica" autoplay></video>
        <!-- <img src="./img/tu-falta-de-querer3.jpg" alt="" class="img-video"> -->
    </section>

    <h2 class="text-center">Descripcion de Hasta la Raiz</h2>
    <section>
        <p class="descripcion-cancion">
            La canción Hasta la raíz forma parte de un álbum homónimo de Natalia Lafourcade, el sexto de toda su
            discografía, lanzado en el año 2015.

            Fue compuesta y musicalizada por la misma Lafourcade con la participación del músico Leonel García.
            Rápidamente se posicionó en los primeros lugares de las listas latinoamericanas.

            El tema fue escrito tras un período de búsquedas personales de Lafourcade, en el que viajó por diferentes
            países de Latinoamérica en busca de inspiración, material y raíces de su identidad. Estos tres años de
            búsqueda dieron como resultado esta importante canción de la cultura pop.


        </p>
    </section>

    <section class="downloads text-center">
        <p>
            <a download="hasta-la-raiz.mp4" href="./video/video2.mp4" class="download">Descargar video</a>
        </p>
        <p>ó</p>
        <p>
            <a download="hasta-la-raiz.mp3" href="./video/video2.mp4"class="download">Descargar audio</a>
        </p>
    </section>

    <h2 class="text-center">Más Temas Relacionados con Natalia Lafourcade</h2>
    <section class="videos-usuario">
        <article>
            <img src="./img/nunca-es-suficiente.jpg" alt="" class="img-music-recomended">
            <div class="details text-center">
                <p>Nunca es Suficiente</p>
                <a href="/mon-laferte" class="acerca-cancion">Ver Más</a>
            </div>
        </article>

        <article>
            <img src="./img/lo-que-construimos.jpg" alt="" class="img-music-recomended">
            <div class="details text-center">
                <p>Lo que Construimos</p>
                <a href="/mon-laferte" class="acerca-cancion">Ver Más</a>
            </div>
        </article>

        <article>
            <img src="./img/tu-si-sabes-quererme.jpg" alt="" class="img-music-recomended">
            <div class="details text-center">
                <p>Tu si Sabes Quererme</p>
                <a href="/mon-laferte" class="acerca-cancion">Ver Más</a>
            </div>
        </article>

        <article>
            <img src="./img/amor-de-mis-amores.jpg" alt="" class="img-music-recomended">
            <div class="details text-center">
                <p>Amor de Mis Amores</p>
                <a href="/mon-laferte" class="acerca-cancion">Ver Más</a>
            </div>
        </article>
    </section>

    <footer class="text-center footer-page">
        &copy; Derechos reservados. WorldMusic - German Arciniegas 2022-2022 :)
    </footer>
</body>

</html>