<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/estilos.css">
    <title>Inicio</title>
</head>

<body>
    <h1 class="text-center title">Hola!!! Bienvenid@ a <span class="world-music">WorldMusic</span></h1>

    <header>
        <!--Banner-->
        <!-- <img src="./img/foto.jpg" alt=""> -->
        <nav class="navegacion">
            <ul class="elementos-navegacion">
                <li><a href="/" class="contenido-elemento text-center">Inicio</a></li>
                <li><a href="/artistas" class="contenido-elemento text-center">Artistas</a></li>
                <li><a href="" class="contenido-elemento text-center">Iniciar Sesion</a></li>
                <li><a href="" class="contenido-elemento text-center">Registro</a></li>
            </ul>
        </nav>
    </header>

    <section>
        <input type="text" name="search-bar" class="search-bar" placeholder="Buscar en WorldMusic...">
    </section>

    <h2 class="text-center">Videos mas vistos por el usuario</h2>
    <section class="videos-usuario">
        <% for(let i=0; i < datos.length; i++) {%>
        <!--Videos que mas le gustan al usuario-->
        <!-- <video src="./video/video1.mp4" controls></video> -->
        <article>
            <img src="../img/<%= datos[i].imagen%>" alt="" class="music-image">
            <div class="details text-center">
                <p><%=datos[i].canciones[i]%></p>
                <a href="/mon-laferte" class="acerca-cancion">Ver Más</a>
            </div>
        </article>
        <% }%>
    </section>

    <h2 class="text-center">Videos recomendados</h2>

    <section class="videos-usuario">
        <!--Videos que se recomiendan en la plataforma-->
        <!-- <video src="./video/video1.mp4" controls class=""></video> -->
        <% for(let i=0; i < datos.length; i++) {%>
            <!--Videos que mas le gustan al usuario-->
            <!-- <video src="./video/video1.mp4" controls></video> -->
            <article>
                <img src="../img/<%= datos[i].imagen%>" alt="" class="music-image">
                <div class="details text-center">
                    <p><%=datos[i].canciones[i]%></p>
                    <a href="/mon-laferte" class="acerca-cancion">Ver Más</a>
                </div>
            </article>
        <% }%>
    </section>

    <footer class="text-center footer-page">
        &copy; Derechos reservados. WorldMusic - German Arciniegas 2022-2022 :)
    </footer>
</body>

</html>