<header>
    <!--Banner-->
    <!-- <img src="./img/foto.jpg" alt=""> -->
    <nav class="navegacion">
        <ul class="elementos-navegacion">
            <li><a href="/" class="contenido-elemento text-center">Inicio</a></li>
            <li><a href="/artistas" class="contenido-elemento text-center">Artistas</a></li>
            <li><a href="/users/iniciar-sesion" class="contenido-elemento text-center">Iniciar Sesion</a></li>
            <li><a href="/users/registro" class="contenido-elemento text-center">Registro</a></li>
        </ul>
    </nav>
</header>